.wd-border{
    border:lightgrey;
}

.wd-blue{
    color: #95cfeb;
}

.wd-lightgrey{
    color: lightgrey;
    margin-left: 50px
}

.wd-posImag {
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

.wd-content {
    color: grey;
}

.wd-title {
    font-size: 15px;
    color: black;
}

.wd-left{
    float: left;
}

.wd-float-right{
    float: right;
}

.wd-pos-relative{
    position: relative;
}

.liked{
    color: red;
}